@font-face {
  font-family: 'VT323';
  src: url( '../VT323-Regular.ttf' );
}

@font-face {
  font-family: 'Germania One';
  src: url( '../GermaniaOne-Regular.ttf' );
}

::selection {
  background-color: unset;
}

html, body, #root, .app {
  height: 100%;
}

.font1 {
  font-family: 'Germania One', 'VT323', monospace;
}

.font2 {
  font-family: 'VT323', 'Germania One', monospace;
}

.app {
  display: grid;
  grid-template-areas:
    '...  ...   ...'
    '...  main  ...'
    '...  ...   ...';
  grid-template-columns:
    5px 1fr 5px;
  grid-template-rows:
    5px
    1fr
    5px;
  background-color: var( --bg-color );

  color: var( --txt-color );
  font-size: 12pt;
  line-height: 3.2vh;
  letter-spacing: 2pt;
}

@media (min-width: 600px) {
  .font1 {
    font-size: 14pt
  }
  .font2 {
    font-size: 18pt;
  }
}