.main-menu {
  grid-area: main;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  border: 3px solid gray;
  border-radius: 2px;

  background-color: #292A2D;
}

.menu-title {
  margin-bottom: 20px;
  line-height: 1em;
  font-size: 70pt;
}

.username-input {
  border-bottom: 1px solid #EFF0FF;
  text-align: center;
  margin: auto;
}
